@media (max-width: 950px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 600px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 300px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}